doctype html
html(lang="ko")
    head
        title #{title}
    body 
        h1 #{title}
        a(href='/') main 
        if(loginstate=='okay')
            a(href='/board/write') 글쓰기
        table(border='1')
            tbody
                tr 
                    td 번호
                    td 작성자
                    td 제목
                    td 조회수
                    td 수정일
                    td 등록일
                
                -for(var i = (page * page_num) - page_num; i<(page * page_num); i++)
                    -if(i > length) 
                        -var data = {}
                    -else var data = rows[i]
                        tr
                            td #{i + 1}
                            td #{data.userid}
                            td
                                a(href='/board/read/' + data.idx) #{data.title}
                            td #{data.hit}
                            td #{data.modidate}
                            td #{data.regdate}
                tr
                    td(colspan='6')
                        -for (var j = 0; j < rows.length / page_num; j++) 
                            a(href='/board/page/' + (j + 1)) #{j+1}
                            span &nbsp&nbsp