doctype html
head(lang="ko")
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title #{title}
  link(rel='stylesheet', href='/css/header.css', type='text/css')
  link(rel='stylesheet', href='/css/table.css', type='text/css')
  link(rel='stylesheet', href='/css/infoBox.css', type='text/css')
body
    header 
        include ./header.pug

    include ./infoBox.pug
    
    main(style="text-align : center")
        h1 #{title}
        div
            form(action='/board/update' method='post')
                table(border='1')
                    input(type='hidden' name='idx' value=rows.idx)
                    tbody
                        tr
                            td 작성자
                            td #{rows.userid}
                        tr
                            td 제목
                            td
                                input#title(type='text' name='title' value=rows.title required=''  style="width:99%;")
                        tr
                            td 내용
                            td
                                textarea#content(name='content' cols='30' rows='10' required='' style="width:99%; resize:none;") #{rows.content}
                        tr
                            td 변경일
                            td #{rows.modidate}
                        tr
                            td 등록일
                            td #{rows.regdate}
                        tr
                            td 조회수
                            td #{rows.hit}
                div
                    form(action="/board/")

                div
                    a(href='/board/page') 목록
                if(loginstate=='okay')
                    button(type='submit')  글 수정
            if(loginstate=='okay')
                form(action='/board/delete' method = 'post')
                    input(type='hidden' name='idx' value=rows.idx)
                    button(type='submit')  글 삭제
